#h1-text{
    text-align: center;
    color: #86A873;
}
#p-note{
    text-align: center;
    color: #86A873;
}
#h3-text{
    text-align: center;
    color: #86A873;
}
body{
    background-color: #095256;
}